/* defaults */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    gap: 1rem;

    border: 1px solid black;
}

body {
    width: 100%;
}

body ul {
    margin: 0;
    padding: 0;
}

body a {
    text-decoration: none;
}

hr {
    padding: 0;
    margin: 1rem;
}

/** defaults end */

.header,
.bar,
.links,
.ann,
.cards,
.intro {
    display: flex;
}

.bar,
.ann {
    padding: 0.5rem 0;
}

.header {
    flex-direction: column;
    gap: 0;

    background: url('./img/neocities.png') repeat-x left top;
    background-size: auto 100px;
    background-origin: border-box;
}

.bar {
    justify-content: space-evenly;
    align-items: center;
}

.links {
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.ann {
    justify-content: center;
    align-items: center;
}

#ticker {
    flex: 0 1 500px;
    padding: 0.3rem;
    list-style-type: none;
    text-align: center;
}

.hero-image {
    object-fit: cover;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.content {
    padding: 1rem 15vw;
}

.cards {
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    text-align: center;
    gap: 0rem;
    flex: 0 0 200px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10rem;
    border: none;
}

.intro-text {
    flex: 1 1 100%;
    padding: 0 2rem;
}

.intro-text h1 {
    text-align: center;
}

.intro img {
    flex: 0 1 250px;
    width: 250px;
}

.blog-links h2,
.timeline h2 {
    padding: 0 1rem;
}

.blogs {
    list-style-type: none;
    padding: 0 4rem;
}

.read-more {
    padding: 0 1rem;
    color: #4C4E52;
    font-style: italic;
}

.table > thead > tr > th:first-child,
.table > tbody > tr > td:first-child {
    width: 15vw;
    text-align: right;
}

.table.table-bordered.table-sm.table-striped {
    margin-bottom: 0px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    margin: 0.5rem 0;
}